<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--shrink-to-fit=no"-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    <title>Immersive Spaces</title>
    <meta name="author" content="altsoph">
    <meta name="twitter:creator" content="@altsoph" />
    <meta property="og:site_name" content="altsoph.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:type" content="article" />
    <!--meta property="telegram_channel" content="pathetic_low_frequenciers_eng"-->
    <meta name="content_filter" content="global" />

<!-- #### -->
    <meta name="keywords" content="ai, generated, interactive, 3d, space, neural network, nlg, animation, art" />
    <meta property="og:title" content="AI generated interactive navigable 3D spaces" />
    <meta name="twitter:title" content="AI generated interactive navigable 3D spaces" />
    <meta name="description" content="AI generated interactive navigable 3D spaces">
    <meta property="og:description" content="AI generated interactive navigable 3D spaces" />
    <meta name="twitter:description" content="AI generated interactive navigable 3D spaces" />

    <meta property="og:url" content="https://altsoph.github.io/immersive_spaces/" />
    <meta property="og:image" content="https://altsoph.com/stuff/imgs/_000607_o3.gif" />
    <meta name="twitter:image" content="https://altsoph.com/stuff/imgs/_000607_o3.gif" />
    <link href='https://altsoph.com/stuff/imgs/_000607_o3.gif' rel='thumbnail' title='AI generated interactive navigable 3D spaces' type='image/gif'>

<!--{--% seo %--}-->
  </head>

  <body>

    <header>
      <div class="container">
        <!--a id="a-title" href="{{ '/' | relative_url }}"> hehehe-->
          <h1>Immersive Spaces</h1>
        <!-- </a> -->
        <!-- <h2>{{ site.description | default: site.github.project_tagline }}</h2> -->
<!--         <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section -->
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>